html,
body {
   background-color: rgb(20, 19, 19);
   font-family: "Open Sans", sans-serif;
   color: rgb(21, 202, 163);
}

.number {
   color: rgb(226, 160, 36);
}

.string {
   color: rgb(105, 219, 105);
}

.keyword {
   color: purple;
}

.boolean {
   color: rgb(228, 36, 36);
}

.comment {
   color: rgb(102, 99, 99);
}

.special {
   color: rgb(247, 216, 42);
}

.punctuation {
   color: rgb(231, 231, 231);
}

.var {
   color: rgb(21, 202, 163);
}

.property {
   color: rgb(166, 189, 184);
}
